@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-main: #fff;
}



@media (prefers-color-scheme: dark) {
  :root {
   
  }
}

body {
  background-color: var(--background-main);
  font-family: 'Poppins', sans-serif;
}
